.profiler-header-container {
  background-color: #f5f0f6;
  padding: 0 60px 0 60px;

}

.profile-employee__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  background-color: #f5f0f6
}

.profile-employee__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f0f6;
}

.profile-employee__content {
  background-color: #e7e1e9;
  border-radius: 10px;
  padding: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-employee__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-employee__header-icon {
  font-size: 40px;
  margin-right: 10px;
  color: #9b59b6;
}

.profile-employee__title {
  font-size: 32px;
  margin-bottom: 10px;
  color: #9b59b6;
  font-family: "Arial", sans-serif;
}

.profile-employee__info {
  font-size: 20px;
  margin-bottom: 30px;
  color: #555;
  font-family: "Arial", sans-serif;
}

.p-text {
  margin: 25px 0;
}

.b-text {
  font-weight: bold;
  color: #9b59b6;
}
